# Distribution / packaging
__pycache__/
.cache/
.coverage
.eggs/
.env
.envrc
.installed.cfg
.pytest_cache/
.tox/
.Python
*.egg
*.egg-info/
*.py[cod]
build/
develop-eggs/
dist/
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
node_modules/
parts/
sdist/
var/

# Serverless directories
.requirements
.serverless

# mutmut testing
.mutmut-cache

# mypy typing cache
.mypy_cache
