[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
requests = "*"
tldextract = "*"
aws-xray-sdk = "*"

[dev-packages]
freezegun = "*"
mutmut = "*"
pytest = "*"
pytest-black = "*"
pytest-cov = "*"
pytest-isort = "*"
pytest-mock = "*"
pytest-pythonpath = "*"
pytest-socket = "*"
responses = "*"

[requires]
python_version = "3.11"
